body {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("ContactUsBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
    display:inline-block;
}

li {
    float: right;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

li a {
    display: block;
    padding: 10px;
    color: rgb(200, 200, 200);
    background-color: transparent;
    text-decoration: none;
}

li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
}

.content {
    color: rgb(200, 200, 200);
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(15, 15, 15);
}
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
button:hover {
    background-color: rgb(0, 53, 128);;
}

footer {
    margin-top: auto;
    background-color: rgb(0, 53, 128);
    text-align: center;
    height: 40px;
}