body {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 35px;
    background-image: url("ContactUsBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
}

ul {
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
}

li {
    float: right;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

li a {
    display: block;
    padding: 10px;
    color: rgb(200, 200, 200);
    background-color: transparent;
    text-decoration: none;
}

li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

p {
    color: rgb(200, 200, 200);
}

.content {
    color: rgb(200, 200, 200);
    min-width: 300px;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    max-width: 1000px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.icon {
    width: 100px;
    height: 100px;
}

.blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    margin: 15px;
    overflow-wrap: break-word;
}

@media (max-width: 1000px) {
    .blurb {
        margin: 5px;
        max-width: 300px;
    }
}

footer {
    margin-top: auto;
    background-color: rgb(0, 53, 128);
    text-align: center;
    height: 40px;
}